  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>

      <style>
table {
  background-color: rgb(216, 216, 216);
}
        th{
          background-color: rgb(133, 109, 155);
          color: white;
        }
        button {
          color: white;
          margin-bottom: 1em;
          padding: 1.1em;
          cursor: pointer;
          background-color: rgb(133, 109, 155);
        }
input {
  background-color: rgb(165, 75, 255);
}
input::placeholder {
  color: white;
}
      </style>
    </head>
    <body>
    
      <table border="1" width="100%" cellspacing="5px" cellpadding="15px"  >
        <tr>
          <th>Ovoshje</th>
          <th>Zelenchuk</th>
          <th>Vitamini</th>
          <th>Minerali</th>
        </tr>
        <% for (let i = 0; i < domasna.ovoshje.length; i++) { %>
          <tr>
            <td><%= domasna.ovoshje[i] %></td>
            <td><%= domasna.zelenchuk[i] %></td>
            <td><%= domasna.vitmini[i].vitamin %></td>
            <td><%= domasna.vitmini[i].mineral %></td>
          </tr>
          <% } %>
      
          <tr>
          <form action="/zelencuk" method="POST">
          <td>
            <input type="text" name="ovoshje" placeholder="ovoshje" required>
          </td>
          <td>
            <input type="text" name="zelenchuk" placeholder="zelenchuk" required>
          </td>
          <td>
            <input type="text" name="vitamin" placeholder="Vitamini" required>
          </td>
          <td>
            <input type="text" name="mineral" placeholder="Minerali" required>
          </td>
          <button type="submit">Dodadi</button>
        </form>      
      </tr>
    </table>
    </body>
  </html>
